<div class="container-fluid">
  <div class="row flex-nowrap content">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar">
      <app-header></app-header>
    </div>
    <div class="col py-3">
      <button class="btn" (click)="backClicked()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
      <div class="intro-section">
        <h1>Employee Detail</h1>
      </div>

      <form [formGroup]="employeeDetailForm">
        <div class="row mb-3">
          <div class="col">
            <label>First Name</label>
            <input
              [readonly]="!isAdmin"
              formControlName="first_name"
              type="text"
              class="form-control"
              placeholder="First name"
              aria-label="First name"
            />
            <div class="text-danger text-start">
              @if(employeeDetailForm.controls['first_name'].touched &&
              employeeDetailForm.controls['first_name'].errors?.['required']){
              <span>First Name is required</span>
              }
            </div>
          </div>
          <div class="col">
            <label>Last Name</label>
            <input
              [readonly]="!isAdmin"
              formControlName="last_name"
              type="text"
              class="form-control"
              placeholder="Last name"
              aria-label="Last name"
            />
            <div class="text-danger text-start">
              @if(employeeDetailForm.controls['last_name'].touched &&
              employeeDetailForm.controls['last_name'].errors?.['required']){
              <span>Last Name is required</span>
              }
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label>Phone number</label>
          <input
            [readonly]="!isAdmin"
            placeholder="Phone number"
            type="text"
            formControlName="phone_number"
            class="form-control"
          />
          <div class="text-danger text-start">
            @if(employeeDetailForm.controls['phone_number'].touched &&
            employeeDetailForm.controls['phone_number'].errors?.['required']){
            <span>Phone number is required</span>
            }@else if(employeeDetailForm.controls['phone_number'].touched &&
            employeeDetailForm.controls['phone_number'].errors?.['pattern']){
            <span>Incorrect phone pattern</span>
            }
          </div>
        </div>

        <div class="mb-3">
          <label>Email</label>
          <input
            [readonly]="!isAdmin"
            formControlName="email"
            placeholder="Email"
            type="email"
            class="form-control"
          />
          <div class="text-danger text-start">
            @if(employeeDetailForm.controls['email'].touched &&
            employeeDetailForm.controls['email'].errors?.['required']){
            <span>Email is required</span>
            }@else if(employeeDetailForm.controls['email'].touched &&
            employeeDetailForm.controls['email'].errors?.['email']){
            <span>Incorrect email format</span>
            }
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label>Date of birth</label>
            <input
              [readonly]="!isAdmin"
              formControlName="date_of_birth"
              type="date"
              class="form-control"
            />
          </div>
          <div class="col">
            <label>Hire Date</label>
            <input
              [readonly]="!isAdmin"
              formControlName="hire_date"
              type="date"
              class="form-control"
            />
            <div class="text-danger text-start">
              @if(employeeDetailForm.controls['hire_date'].touched &&
              employeeDetailForm.controls['hire_date'].errors?.['required']){
              <span>Hire date is required</span>
              }
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label>Salary</label>
          <input
            [readonly]="!isAdmin"
            formControlName="salary"
            type="number"
            class="form-control"
            placeholder="Salary"
          />
          <div class="text-danger text-start">
            @if(employeeDetailForm.controls['salary'].touched &&
            employeeDetailForm.controls['salary'].errors?.['required']){
            <span>Salary is required</span>
            }
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label>Department</label>

            <select
              formControlName="department_id"
              class="form-control form-select department"
            >
              <!-- <option value="" selected disabled hidden>Select a department</option> -->
              <option
                *ngFor="let department of departments"
                [value]="department.department_id"
              >
                {{ department.department_name }}
              </option>
            </select>
            <!-- <div class="text-danger text-start">
              @if(employeeDetailForm.controls['departmentId'].touched &&
              employeeDetailForm.controls['departmentId'].errors?.['required']){
              <span>Department is required</span>
              }
            </div> -->
          </div>

          <div class="col">
            <label>Job Title</label>
            <select
              formControlName="job_id"
              class="form-control form-select department"
            >
              <!-- <option value="" selected>Select a job title</option> -->
              <option *ngFor="let job of jobs" [value]="job.job_id">
                {{ job.job_title }}
              </option>
            </select>
            <!-- <div class="text-danger text-start">
              @if(employeeDetailForm.controls['jobId'].touched &&
              employeeDetailForm.controls['jobId'].errors?.['required']){
              <span>Job is required</span>
              }
            </div> -->
          </div>
        </div>

        @if(isAdmin && employeeDetailForm.get('user_id') !== null){
        <div class="mb-3">
          <label>User ID</label>
          <input
            [readonly]="!isAdmin"
            formControlName="user_id"
            type="number"
            class="form-control"
            placeholder="Mapping with user account (not required)"
          />
        </div>
        }

        <div class="d-flex justify-content-end">
          <div class="">
            <button
              *ngIf="isAdmin"
              type="submit"
              class="btn btn-primary btn-submit"
              [disabled]="!employeeDetailForm.valid"
              (click)="updateEmployee(employeeDetailForm.value)"
            >
              Update
            </button>
          </div>
          <div class="">
            <button
              *ngIf="isAdmin"
              class="btn btn-delete"
              data-bs-toggle="modal"
              data-bs-target="#deleteConfirmModal"
            >
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="deleteConfirmModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLabel">
          Are you sure to delete employee with ID = {{ id }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-submit" (click)="deleteEmployee()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
