<div
  class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-h-100 header"
>
  <a
    href="/"
    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <span class="text-dark">
      <img src="hr_img.png" class="img-logo" />
    </span>
  </a>
  <ul
    class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
    id="menu"
  >
    <li class="nav-item">
      <a href="/" class="nav-link align-middle px-0">
        <i class="fs-4 bi-house"></i>
        <span class="ms-1 d-none d-sm-inline text-dark">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/departments" class="nav-link px-0 align-middle">
        <i class="fs-4 bi-table"></i>
        <span class="ms-1 d-none d-sm-inline text-dark">Departments</span></a
      >
    </li>
    <li>
      <a
        href="#submenu2"
        data-bs-toggle="collapse"
        class="nav-link px-0 align-middle"
      >
        <i class="fs-4 bi-bootstrap"></i>
        <span class="ms-1 d-none d-sm-inline text-dark">Job</span></a
      >
      <ul
        class="collapse nav flex-column ms-1"
        id="submenu2"
        data-bs-parent="#menu"
      >
        <li class="w-100">
          <a href="/jobs" class="nav-link px-0">
            <span class="d-none d-sm-inline text-dark">Job Title</span></a
          >
        </li>
        <li class="w-100">
            <a href="#" class="nav-link px-0">
                <span class="d-none d-sm-inline text-dark">Job History</span></a
            >
          </li>
      </ul>
    </li>
  </ul>
  <hr />
  <div class="dropdown pb-4 user-ava">
    <a
      href="#"
      class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt="hugenerd"
        width="30"
        height="30"
        class="rounded-circle"
      />
      <span class="text-dark m-1">user</span>
    </a>
    <ul class="dropdown-menu text-small shadow text-dark">
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
