<style>
  .pagination-page ::ng-deep .ngx-pagination .current {
    background: #6610f2;
  }
</style>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar">
      <app-header></app-header>
    </div>
    <div class="col py-3">
      <div class="intro-section">
        <h1>Job History List</h1>
        <p>List all job histories</p>
      </div>
      <div class="search-box">
        <input
          type="text"
          class="form-control search-input"
          placeholder="Search by name, job title"
          name="keyword"
        />

        @if(isAdmin){
        <button
          type="button"
          class="btn btn-create"
          data-bs-toggle="modal"
          data-bs-target="#insertModal"
        >
          <i class="fa-solid fa-plus"></i>
          Insert
        </button>
        }
      </div>
      <!-- Start: Table -->
      <div class="table-departments">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Employee</th>
              <th scope="col">Job Title</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Department</th>
              @if(isAdmin){
              <th scope="col">Action</th>
              }
            </tr>
          </thead>
          <tbody>
            <tr
              class="employee-detail"
              *ngFor="
                let jobHistory of jobHistories
                  | paginate : { itemsPerPage: 6, currentPage: p };
                let i = index
              "
            >
              <td>{{ (p - 1) * itemsPerPage + i + 1 }}</td>
              <td>{{ jobHistory.employee_name }}</td>
              <td>{{ jobHistory.job_title }}</td>
              <td>{{ jobHistory.start_date }}</td>
              <td>{{ jobHistory.end_date }}</td>
              <td>{{ jobHistory.department_name }}</td>
              @if(isAdmin){
              <td>
                <button
                  type="button"
                  class="btn btn-edit mr-1"
                  data-bs-toggle="modal"
                  data-bs-target="#editModal"
                  (click)="
                    handleUpdateJobHistory(
                      jobHistory.employee_id,
                      jobHistory.start_date,
                      jobHistory.end_date
                    )
                  "
                >
                  <i class="fa-solid fa-pencil-alt"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-delete"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal"
                  (click)="
                    handleDeleteJobHistory(
                      jobHistory.employee_id,
                      jobHistory.start_date,
                      jobHistory.end_date
                    )
                  "
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
              }
            </tr>
          </tbody>
        </table>
        <pagination-controls
          (pageChange)="p = $event"
          class="text-center pagination-page"
        ></pagination-controls>
      </div>
      <!-- End: Table -->
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->

<!--Start: Modal Insert-->
<div
  class="modal fade"
  id="insertModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Insert new job history
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="jobHistoryInsertForm">
          <div class="form-group">
            <label for="employeeName">Employee Name</label>
            <select
              class="form-control form-select employee"
              formControlName="employee_id"
            >
              <option value="" selected disabled hidden>Employee Name</option>
              <option
                *ngFor="let employee of employees"
                [value]="employee.employee_id"
              >
                {{ employee.first_name }} {{ employee.last_name }}
              </option>
            </select>

            <div class="text-danger text-start">
              @if(jobHistoryInsertForm.controls['employee_id'].touched &&
              jobHistoryInsertForm.controls['employee_id'].errors?.['required']){
              <span>Employee name is required</span>
              }
            </div>
          </div>
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input
              formControlName="start_date"
              type="date"
              class="form-control"
              id="startDate"
              placeholder="Enter start date"
            />
            <div class="text-danger text-start">
              @if(jobHistoryInsertForm.controls['start_date'].touched &&
              jobHistoryInsertForm.controls['start_date'].errors?.['required']){
              <span>Start date is required</span>
              }
            </div>
          </div>
          <div class="form-group">
            <label for="endDate">End Date</label>
            <input
              formControlName="end_date"
              type="date"
              class="form-control"
              id="endDate"
              placeholder="Enter end date"
            />

            <div class="text-danger text-start">
              @if(jobHistoryInsertForm.controls['end_date'].touched &&
              jobHistoryInsertForm.controls['end_date'].errors?.['required']){
              <span>End date is required</span>
              }
            </div>
          </div>
          <div class="form-group">
            <label for="departmentName">Department Name</label>
            <select
              class="form-control form-select department"
              formControlName="department_id"
            >
              <option value="" selected disabled hidden>
                Choose department
              </option>
              <option
                *ngFor="let department of departments"
                [value]="department.department_id"
              >
                {{ department.department_name }}
              </option>
            </select>
            <div class="text-danger text-start">
              @if(jobHistoryInsertForm.controls['department_id'].touched &&
              jobHistoryInsertForm.controls['department_id'].errors?.['required']){
              <span>Deparment name is required</span>
              }
            </div>
          </div>

          <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <select
              class="form-control form-select job"
              formControlName="job_id"
            >
              <option value="" selected disabled hidden>
                Choose job titlte
              </option>
              <option *ngFor="let job of jobs" [value]="job.job_id">
                {{ job.job_title }}
              </option>
            </select>
            <div class="text-danger text-start">
              @if(jobHistoryInsertForm.controls['job_id'].touched &&
              jobHistoryInsertForm.controls['job_id'].errors?.['required']){
              <span>Job title is required</span>
              }
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-exit" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn"
          (click)="insertJobHistory()"
          [disabled]="!jobHistoryInsertForm.valid"
        >
          Insert
        </button>
      </div>
    </div>
  </div>
</div>
<!--End: Modal Insert -->

<!--Start: Modal Edit -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit department</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="jobHistoryUpdateForm">
          <div class="form-group">
            <label for="employeeName">Employee Name</label>
            <select
              class="form-control form-select employee"
              formControlName="employee_id"
            >
              <option value="" selected disabled hidden>Employee Name</option>
              <option
                *ngFor="let employee of employees"
                [value]="employee.employee_id"
              >
                {{ employee.first_name }} {{ employee.last_name }}
              </option>
            </select>
            <div class="text-danger text-start">
              @if(jobHistoryUpdateForm.controls['employee_id'].touched &&
              jobHistoryUpdateForm.controls['employee_id'].errors?.['required']){
              <span>Employee name is required</span>
              }
            </div>
          </div>
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input
              formControlName="start_date"
              type="date"
              class="form-control"
              id="startDate"
              readonly
              placeholder="Enter start date"
            />
            <div class="text-danger text-start">
              @if(jobHistoryUpdateForm.controls['start_date'].touched &&
              jobHistoryUpdateForm.controls['start_date'].errors?.['required']){
              <span>Start date is required</span>
              }
            </div>
          </div>
          <div class="form-group">
            <label for="endDate">End Date</label>
            <input
              formControlName="end_date"
              type="date"
              class="form-control"
              id="endDate"
              placeholder="Enter end date"
            />
            <div class="text-danger text-start">
              @if(jobHistoryUpdateForm.controls['end_date'].touched &&
              jobHistoryUpdateForm.controls['end_date'].errors?.['required']){
              <span>End date is required</span>
              }
            </div>
          </div>
          <div class="form-group">
            <label for="departmentName">Deparment Name</label>
            <select
              class="form-control form-select department"
              formControlName="department_id"
            >
              <option value="" selected disabled hidden>Department</option>
              <option
                *ngFor="let department of departments"
                [value]="department.department_id"
              >
                {{ department.department_name }}
              </option>
            </select>
            <div class="text-danger text-start">
              @if(jobHistoryUpdateForm.controls['department_id'].touched &&
              jobHistoryUpdateForm.controls['department_id'].errors?.['required']){
              <span>Deparment name is required</span>
              }
            </div>
          </div>

          <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <select
              class="form-control form-select job"
              formControlName="job_id"
            >
              <option value="" selected disabled hidden>
                Choose job titlte
              </option>
              <option *ngFor="let job of jobs" [value]="job.job_id">
                {{ job.job_title }}
              </option>
            </select>
            <div class="text-danger text-start">
              @if(jobHistoryUpdateForm.controls['job_id'].touched &&
              jobHistoryUpdateForm.controls['job_id'].errors?.['required']){
              <span>Job title is required</span>
              }
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-exit" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn"
          (click)="updateJobHistory(jobHistoryUpdateForm.value)"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
<!--End: Modal Edit -->

<!--Start: Modal Delete -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete department</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Do you want to delete job history with of employee has ID =
        {{ employeeId }} has start date = {{ startDate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-exit" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn"
          (click)="
            deleteJobHistory(jobHistory.employee_id, jobHistory.start_date)
          "
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!--End: Modal Delete -->
