<div class="container-fluid">
  <div class="row flex-nowrap content">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar">
      <app-header></app-header>
    </div>
    <div class="col py-3">
      <div class="intro-section">
        <h1>Employee List</h1>
        <p>List all employees</p>
      </div>
      <div class="search-box">
        <input
          type="text"
          class="form-control search-input"
          placeholder="Search by name, role, department..."
        />
        <select class="form-control form-select department">
          <option selected>All Department</option>
          <option value="">IT</option>
          <option value="">Sales</option>
          <option value="">Marketing</option>
        </select>
        <button
          type="button"
          class="btn btn-create"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fa-solid fa-plus"></i>
          Insert
        </button>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Insert new employee</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="table-employees">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Department</th>
              <th scope="col">Job Title</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees | paginate: { itemsPerPage: 7, currentPage: p }; let i = index">
              <td>{{ (p-1)* itemsPerPage + i + 1 }}</td>
              <td>{{ employee.first_name + " " +employee.last_name }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.phone_number }}</td>
              <td>{{ employee.department_name }}</td>
              <td>{{ employee.job_title }}</td>
            </tr>
           
            
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls> 
      </div>
    </div>
  </div>
</div>
