.intro-section {
  text-align: center;
  padding: 20px;
}

.search-box {
  display: flex;
  align-items: space-between;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.department {
  width: 16vw;
}
.search-input {
  background-color: transparent;
  width: 28vw;
}
.form-control {
  background-color: transparent;
  padding: 12px;
  font-size: 14px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.form-control::placeholder {
  color: hsl(0, 0%, 0%);
}

.sidebar {
  z-index: 10;
  background-color: #f5f5f5;
  min-height: 100vh;

}

.btn-create {
  background-color: #6610f2;
  color: white;
}

