<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar">
      <app-header></app-header>
    </div>
    <div class="col py-3">
      <div class="intro-section">
        <h1>Department List</h1>
        <p>List all departments</p>
      </div>
      <!-- Start: Searching/Insert -->
      <div class="search-box">
        <input
          type="text"
          class="form-control search-input"
          placeholder="Search by name department..."
        />
        <button
          type="button"
          class="btn btn-create"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fa-solid fa-plus"></i>
          Insert
        </button>
      </div>
      <!-- End: Searching/Insert -->

      <!-- Start: Table -->
      <div class="table-employees">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Manager</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>
                <button
                  type="button"
                  class="btn btn-edit mr-1"
                  data-bs-toggle="modal"
                  data-bs-target="#editModal"
                >
                  <i class="fa-solid fa-pencil-alt"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-delete"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End: Table -->
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->

<!--Start: Modal Insert-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Insert new department
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-exit" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--End: Modal Insert -->

<!--Start: Modal Edit -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editd department</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-exit" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--End: Modal Edit -->

<!--Start: Modal Delete -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete department</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-exit" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--End: Modal Delete -->
