<div class="container-fluid">
  <div class="row flex-nowrap content">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar">
      <app-header></app-header>
    </div>
    <div class="col py-3">
      <div class="intro-section">
        <h1>Insert a new employee</h1>
      </div>

      <form #insertEmployeeForm="ngForm" (ngSubmit)="insertEmployee(insertEmployeeForm)">
        <div class="row mb-3">
          <div class="col">
            <label>First Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="First name"
              aria-label="First name"
              name="firstName"
              required
            />
            <p
              class="text-danger text-start"
              *ngIf="firstName.length == 0"
            >
              First name is required
            </p>
          </div>
          <div class="col">
            <label>Last Name</label>
            <input
              type="text"
              class="form-control"
              name="lastName"
              placeholder="Last name"
              aria-label="Last name"
              required
            />
            <p
              class="text-danger text-start"
              *ngIf="lastName.length == 0"
            >
          </div>
        </div>
        <div class="mb-3">
          <label>Email</label>
          <input
            placeholder="Email"
            type="email"
            name="email"
            class="form-control"
            aria-describedby="emailHelp"
            required
          />
          <p
              class="text-danger text-start"
              *ngIf="email.length == 0"
            >
        </div>
        <div class="row mb-3">
          <div class="col">
            <label>Date of birth</label>
            <input type="date" class="form-control" name="dateOfBirth" />
          </div>
          <div class="col">
            <label>Hire Date</label>
            <input
              type="date"
              name="hireDate"
              class="form-control"
              required
            />
            <p
              class="text-danger text-start"
              *ngIf="hireDate === null"
            >
          </div>
        </div>

        <div class="mb-3">
          <label>Salary</label>
          <input
            type="number"
            class="form-control"
            name="salary"
            required 
            placeholder="Salary"
          />
        </div>
        <div class="row mb-3">
          <div class="col">
            <label>Department</label>

            <select
              class="form-control form-select department"
              name="departmentId"
            >
              <option
                *ngFor="let department of departments"
                [value]="department.department_id"
              >
                {{ department.department_name }}
              </option>
            </select>
          </div>
          <div class="col">
            <label>Job Title</label>

            <select
              class="form-control form-select department"
              name="jobId"
            >
              <option *ngFor="let job of jobs" [value]="job.job_is">
                {{ job.job_title }}
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label>User ID</label>
          <input
            type="number"
            class="form-control"
            name="userId"
            required
            placeholder="Mapping with user account (not required)"
          />
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button
            type="submit"
            class="btn btn-primary btn-submit"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
