<div class="container-fluid">
  <div class="row flex-nowrap content">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar">
      <app-header></app-header>
    </div>
    <div class="col py-3">
      <button class="btn" (click)="backClicked()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
      <div class="intro-section">
        <h1>Insert a new employee</h1>
      </div>

      <form [formGroup]="insertEmployeeForm">
        <div class="row mb-3">
          <div class="col">
            <label>First Name</label>
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
              placeholder="First name"
              aria-label="First name"
            />
            <div class="text-danger text-start">
              @if(insertEmployeeForm.controls['firstName'].touched &&
              insertEmployeeForm.controls['firstName'].errors?.['required']){
              <span>First Name is required</span>
              }
            </div>
          </div>
          <div class="col">
            <label>Last Name</label>
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              placeholder="Last name"
              aria-label="Last name"
            />
            <div class="text-danger text-start">
              @if(insertEmployeeForm.controls['lastName'].touched &&
              insertEmployeeForm.controls['lastName'].errors?.['required']){
              <span>Last Name is required</span>
              }
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label>Phone number</label>
          <input
            placeholder="Phone number"
            type="text"
            formControlName="phoneNumber"
            class="form-control"
          />
          <div class="text-danger text-start">
            @if(insertEmployeeForm.controls['phoneNumber'].touched &&
            insertEmployeeForm.controls['phoneNumber'].errors?.['required']){
            <span>Email is required</span>
            }@else if(insertEmployeeForm.controls['phoneNumber'].touched &&
            insertEmployeeForm.controls['phoneNumber'].errors?.['pattern']){
            <span>Incorrect phone pattern</span>
            }

          </div>
        </div>

        <div class="mb-3">
          <label>Email</label>
          <input
            formControlName="email"
            placeholder="Email"
            type="email"
            class="form-control"
          />
          <div class="text-danger text-start">
            @if(insertEmployeeForm.controls['email'].touched &&
            insertEmployeeForm.controls['email'].errors?.['required']){
            <span>Email is required</span>
            }@else if(insertEmployeeForm.controls['email'].touched &&
            insertEmployeeForm.controls['email'].errors?.['email']){
            <span>Incorrect email format</span>
            }

          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label>Date of birth</label>
            <input
              formControlName="dateOfBirth"
              type="date"
              class="form-control"
            />
          </div>
          <div class="col">
            <label>Hire Date</label>
            <input
              formControlName="hireDate"
              type="date"
              class="form-control"
            />
            <div class="text-danger text-start">
              @if(insertEmployeeForm.controls['hireDate'].touched &&
              insertEmployeeForm.controls['hireDate'].errors?.['required']){
              <span>Hire date is required</span>
              }
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label>Salary</label>
          <input
            formControlName="salary"
            type="number"
            class="form-control"
            placeholder="Salary"
          />
          <div class="text-danger text-start">
            @if(insertEmployeeForm.controls['salary'].touched &&
            insertEmployeeForm.controls['salary'].errors?.['required']){
            <span>Salary is required</span>
            }
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label>Department</label>

            <select
              formControlName="departmentId"
              class="form-control form-select department"
            >
            <!-- <option value="" selected>Select a department</option> -->
              <option
                *ngFor="let department of departments"
                [value]="department.department_id"
              >
                {{ department.department_name }}
              </option>
            </select>
            <div class="text-danger text-start">
              @if(insertEmployeeForm.controls['departmentId'].touched &&
              insertEmployeeForm.controls['departmentId'].errors?.['required']){
              <span>Department is required</span>
              }
            </div>
          </div>

          <div class="col">
            <label>Job Title</label>
            <select
              formControlName="jobId"
              class="form-control form-select department"
            >
            <!-- <option value="" selected>Select a job title</option> -->
              <option *ngFor="let job of jobs" [value]="job.job_id">
                {{ job.job_title }}
              </option>
            </select>
            <div class="text-danger text-start">
              @if(insertEmployeeForm.controls['jobId'].touched &&
              insertEmployeeForm.controls['jobId'].errors?.['required']){
              <span>Job is required</span>
              }
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label>User ID</label>
          <input
            formControlName="userId"
            type="number"
            class="form-control"  
            placeholder="Mapping with user account (not required)"
          />
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button
            type="submit"
            class="btn btn-primary btn-submit"
            (click)="insertEmployee()"
            [disabled]="!insertEmployeeForm.valid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
