.intro-section {
  text-align: center;
  padding: 20px;
}
.sidebar {
  z-index: 10;
  background-color: #f5f5f5;
  min-height: 100vh;
}
.btn-submit{
  background-color: #6610f2;
  color: white;
  align-items: center;
}