<style>
  .pagination-page ::ng-deep .ngx-pagination .current {
    background: #6610f2;
  }
</style>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar">
      <app-header></app-header>
    </div>
    <div class="col py-3">
      <div class="intro-section job-header">
        <div class="job-title">
          <h1>Job List</h1>
        </div>
        <div class="d-flex justify-content-center gap-2 align-items-center">
          <p class="m-0">List all jobs</p>
          @if(isAdmin){
          <button
            type="button"
            class="btn btn-create"
            data-bs-toggle="modal"
            data-bs-target="#insertModal"
          >
            <i class="fa-solid fa-plus"></i>
            Insert
          </button>
          }
        </div>
      </div>

      <!-- Start: Table -->
      <div class="table-departments">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              @if(isAdmin){
                <th scope="col">Action</th>
              }
            </tr>
          </thead>
          <tbody>
            <tr
              class="department_detail"
              *ngFor="
                let job of jobs
                  | paginate : { itemsPerPage: 6, currentPage: p };
                let i = index
              "
            >
              <td>{{ (p - 1) * itemsPerPage + i + 1 }}</td>
              <td>{{ job.job_title }}</td>
              @if(isAdmin){
                <td>
                  <button
                    type="button"
                    class="btn btn-edit mr-1"
                    data-bs-toggle="modal"
                    data-bs-target="#editModal"
                    (click)="handleUpdateJob(job.job_id)"
                  >
                    <i class="fa-solid fa-pencil-alt"></i>
                  </button>
                  <button
                  (click)="handleDeleteJob(job.job_id)"
                    type="button"
                    class="btn btn-delete"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              }
            </tr>
          </tbody>
        </table>
        <pagination-controls
          (pageChange)="p = $event"
          class="text-center pagination-page"
        ></pagination-controls>
      </div>
      <!-- End: Table -->
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->

<!--Start: Modal Insert-->
<div
  class="modal fade"
  id="insertModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Insert new job
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="insertJobForm" #formDirective="ngForm">
          <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <input
              formControlName="job_title"
              type="text"
              class="form-control"
              id="jobTitle"
              placeholder="Enter job title"
            />
            <div class="text-danger text-start">
              @if(insertJobForm.controls['job_title'].touched &&
                insertJobForm.controls['job_title'].errors?.['required']){
                <span>Job title is required</span>
                }
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-exit" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn" (click)="insertJob(formDirective)"
        [disabled]="!insertJobForm.valid">Insert</button>
      </div>
    </div>
  </div>
</div>
<!--End: Modal Insert -->

<!--Start: Modal Edit -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit department</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateJobForm">
          <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <input
              formControlName="job_title"
              type="text"
              class="form-control"
              id="jobTitle"
              placeholder="Enter Job Title" 
            />
            <div class="text-danger text-start">
              @if(updateJobForm.controls['job_title'].touched &&
                updateJobForm.controls['job_title'].errors?.['required']){
                <span>Job title is required</span>
                }
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-exit" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn"
        (click)="updateJob(updateJobForm.value, jobId)"
        [disabled]="!updateJobForm.valid"
        >Update</button>
      </div>
    </div>
  </div>
</div>
<!--End: Modal Edit -->

<!--Start: Modal Delete -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete department</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Do you want to delete department with ID = {{ jobId }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-exit" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn" (click)="deleteJob(jobId)">Delete</button>
      </div>
    </div>
  </div>
</div>
<!--End: Modal Delete -->
